<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dar bg-dark md-4">
        <a href="#" class="navbar-brand" style="color: #33cccc; margin-left: 30px">E- diaristas</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link" style="color: #29a3a3; margin-left: 30px">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        {% block content %}

        {% endblock content %}
    </main>
</body>
</html>