{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <!-- No Django, precisa identificar os forms com tokens -->
        {% csrf_token %}

        <!-- Geração automática do form com o Django -->
        {{ form_housekeeper|crispy }}
        <button type="submit" class="btn btn-primary" style="background-color: #33cccc; border-color: #33cccc; margin: 15px 0">Cadastrar</button>
    </form>
{% endblock content %}
