{% extends 'base.html' %}
{% load easy_mask %}

{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>CEP</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
      {% for housekeeper in housekeepers %}
        <tr>
          <td>{{housekeeper.id}}</td>
          <td>{{housekeeper.nome_completo}}</td>
          <td>{{housekeeper.email}}</td>
          <td>{{housekeeper.cep | cep}}</td>
          <td>
            <a href="{% url 'edit_housekeeper' housekeeper.id %}">Editar</a>
            <a href="{% url 'remove_housekeeper' housekeeper.id %}">Remover</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'register_housekeeper'%}" class="btn btn-primary" style="background-color: #33cccc; border-color: #33cccc">Cadastrar</a>
{% endblock content %}