<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>CEP</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
      {% for housekeeper in housekeepers %}
        <tr>
          <td>{{housekeeper.id}}</td>
          <td>{{housekeeper.full_name}}</td>
          <td>{{housekeeper.email}}</td>
          <td>{{housekeeper.address_cep}}</td>
          <td>
            <a href="#">Editar</a>
            <a href="#">Remover</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>